
<title>Extraire des tweets</title>
<style type="text/css">
  
  .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Extraire des tweets se format Text</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="qq" type="text" class="form-control" placeholder="Query" value=""/>
                            </div>
                            <div class="form-group">
                                <input id="lang" type="text" class="form-control" placeholder="Langage comme fr,ar,en,..." value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="len" type="text" class="form-control" placeholder="Count" value=""  />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="until YYYY-MM-DD" value=""  />
                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                               <!--  <input type="text" class="form-control" placeholder="result_type" value=""/> -->

                               <FORM id="rt">
                                <SELECT name="nom" size="1">
                                <OPTION>recent
                                <OPTION>popular
                                <OPTION>mixed
                                </SELECT>
                                </FORM>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" placeholder="until YYYY-MM-DD" value=""/> -->
                            </div>
                        </div>
                    </div>




                    <button type="button" class="btnSubmit" onclick="ook()" >Download Csv</button>
                    <button type="button" class="btnSubmit" onclick="ook()">Download Json</button>
                </div>
            </div>
        </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
     function get_cookie(c_name){
          if (document.cookie.length > 0)
          {
              c_start = document.cookie.indexOf(c_name + "=");
              if (c_start != -1)
              {
                  c_start = c_start + c_name.length + 1;
                  c_end = document.cookie.indexOf(";", c_start);
                  if (c_end == -1) c_end = document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end));
              }
          }
          return "";
      }

        
       
</script>

<script >

    function ook(){
      var q=document.getElementById("qq").value;
      var lang=document.getElementById("lang").value;
      var len=Number(document.getElementById("len").value);
      var rt=$("#rt").serializeArray()[0].value;
      var fields = {'q': q, 'lang': lang, 'result_type': rt,"len":len};
      console.log(fields);
      // var fields = {'q': 'covid19', 'lang': 'en', 'result_type': 'popular'};

        $.ajaxSetup({
              headers: { "X-CSRFToken": get_cookie('csrftoken') }});
        $.ajax({
            url: '',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(fields),
            dataType: 'text',
            success: function(result) {
                // console.log(result);
                Exporter(result);
            }
        });

    }
</script>




 <script type="text/javascript">
      function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    };
    function Exporter(r) {
      download('data.json',r);
    }
  </script>