{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="note">
                    <p> Extraire le commentaire le plus liké d'un tweet </p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                                <input id="f3-uid" type="text" class="form-control" placeholder="Tweet id" value=""/>
                            </div>
                            <div class="form-group">
                                <input id="f3-uname" type="text" class="form-control" placeholder="User name" value=""/>
                            </div>

                 
                        </div>
                   
                    
                    </div>

<br>

                    <button id="f3-csv" type="button" class="btnSubmit" onclick="ook('csv')" >Download Csv</button>
                    <button id="f3-json" type="button" class="btnSubmit" onclick="ook('json')">Download Json</button>
                    <a href="/" class="btn btn-xs btn-warning">Back</a>
                </div>
            </div>
        </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
     function get_cookie(c_name){
          if (document.cookie.length > 0)
          {
              c_start = document.cookie.indexOf(c_name + "=");
              if (c_start != -1)
              {
                  c_start = c_start + c_name.length + 1;
                  c_end = document.cookie.indexOf(";", c_start);
                  if (c_end == -1) c_end = document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end));
              }
          }
          return "";
      }



</script>

<script >

    function ook(type){
      $("#f3-"+type).text("wait...");
      var uname=document.getElementById("f3-uname").value;
      var id=document.getElementById("f3-uid").value;

      var fields = {"username":uname,"id":id,"type":type};
      console.log(fields);
        $.ajaxSetup({
              headers: { "X-CSRFToken": get_cookie('csrftoken') }});
        $.ajax({
            url: '',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(fields),
            dataType: 'text',
            success: function(result) {
                // console.log(result);
                Exporter(result,"data."+type);
                $("#f3-"+type).text(type);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
             alert("some error");
              }
        });

    }
</script>


</body>

 <script type="text/javascript">
      function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    };
    function Exporter(r,name) {
      download(name,r);
    }
  </script>


{% endblock %}