{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="note">
                    <p>Extraire des tweets se format Video</p>
                </div>

                <div class="form-content">
                  
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="fvideo-qq" type="text" class="form-control" placeholder="Query" value=""/>
                            </div>
                            <div class="form-group">
                                <input id="fvideo-lang" type="text" class="form-control" placeholder="Langage  fr,ar,en,..." value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="fvideo-len" type="text" class="form-control" placeholder="Count" value=""  />
                            </div>
                            <div class="form-group">
                                <input id="fvideo-date"type="text" class="form-control" placeholder="since YYYY-MM-DD" value=""  />
                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                                <input id="fvideo-until"type="text" class="form-control" placeholder="Until  YYYY-MM-DD" value=""/>
<br>
                               <FORM id="fvideo-rt">
                                <SELECT name="nom" size="1">
                                <OPTION>recent
                                <OPTION>popular
                                <OPTION>mixed
                                </SELECT>
                                </FORM>
                            </div>
                            <div class="form-group">
                    
                            </div>
                        </div>
                    





                  <!--   <button id="fvideo-csv" type="button" class="btnSubmit" onclick="ook('csv')" >Download Csv Urls</button>
 -->
                    <button id="fvideo-json" type="button" class="btnSubmit" onclick="ook('json')" >Download </button>
                 <!-- 
                     <button id="fvideo-zip" type="button" class="btnSubmit" onclick="ook('zip')" >Download Zip</button> -->
                     
                 
                </div>
            </div>
        </div>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
     function get_cookie(c_name){
          if (document.cookie.length > 0)
          {
              c_start = document.cookie.indexOf(c_name + "=");
              if (c_start != -1)
              {
                  c_start = c_start + c_name.length + 1;
                  c_end = document.cookie.indexOf(";", c_start);
                  if (c_end == -1) c_end = document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end));
              }
          }
          return "";
      }

        
       
</script>

<script >

    function ook(type){
      var q=document.getElementById("fvideo-qq").value;
      var lang=document.getElementById("fvideo-lang").value;
      var len=Number(document.getElementById("fvideo-len").value);
      var rt=$("#fvideo-rt").serializeArray()[0].value;
      var from=document.getElementById("fvideo-date").value;
      var to=document.getElementById("fvideo-until").value;


      var fields = {'q': q, 'lang': lang, 'result_type': rt,"len":len,"since":from,"until":to,"type":type};

      console.log(fields);
      
        $("#fvideo-"+type).text("wait...");
        $("#fvideo-"+type).attr("onclick","");
        $.ajaxSetup({
              headers: { "X-CSRFToken": get_cookie('csrftoken') }});
        $.ajax({
            url: '',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(fields),
            dataType: 'text',
            success: function(result) {
                console.log(result);
                window.open("/data/"+result);
                  // if(type=="zip")
                  // {
                  //   zzip(JSON.parse(result));
                  // }else
                  // Exporter(result,"videoUrls."+type);
              
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
             alert("some error");
              }
        });

    }
</script>




 <script type="text/javascript">
      function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    };
    function Exporter(r,name) {
      download(name,r);
    }
  </script>



<script src="/static/zip/dist/jszip.min.js"></script>
<script src="/static/jszip/dist/jszip-utils.js"></script>
<script type="text/javascript">
  function zzip(urls){
    var zip = new JSZip();
    var count = 0;
    var zipFilename = "zipFilename.zip";

    var i=0;
    urls.forEach(function(url){
      var filename = "im"+i+".mp4";i++;
       $("#fvideo-zip").text(i);


      // loading a file and add it in a zip file
      JSZipUtils.getBinaryContent(url, function (err, data) {
         if(err) {
            throw err; // or handle the error
         }
         zip.file(filename, data, {binary:true});
         count++;
         if (count == urls.length) {
       zip.generateAsync({type:'blob'}).then(function(content) {
          saveAs(content, zipFilename);
          // $("#fvideo-zip").hide();
       });
    }
      });
    });}
</script>


<script type="text/javascript">
    function saveAs(blob, filename) {
  if (typeof navigator.msSaveOrOpenBlob !== 'undefined') {
    return navigator.msSaveOrOpenBlob(blob, fileName);
  } else if (typeof navigator.msSaveBlob !== 'undefined') {
    return navigator.msSaveBlob(blob, fileName);
  } else {
    var elem = window.document.createElement('a');
    elem.href = window.URL.createObjectURL(blob);
    elem.download = filename;
    elem.style = 'display:none;opacity:0;color:transparent;';
    (document.body || document.documentElement).appendChild(elem);
    if (typeof elem.click === 'function') {
      elem.click();
    } else {
      elem.target = '_blank';
      elem.dispatchEvent(new MouseEvent('click', {
        view: window,
        bubbles: true,
        cancelable: true
      }));
    }
    URL.revokeObjectURL(elem.href);
  }
}
</script>


{% endblock %}