{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">


<div class="btn-toolbar">

</div>

<div class="well">
    <h1>Graphs</h1>
    {% for url in images%}
    <br><br>
    <img src="{{url}}" alt="Italian Trulli">
    {% endfor %}
</div>


<div class="well">
    <h1> Users table </h1>

    <table class="table">
      <thead>
        <tr>
          {% for c in C1%}
          <th> {{c}}</th>
          {% endfor %}
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for d in data1%}
        <tr>
          {%for dd in d%}
          <td>{{dd}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
<div class="well">
    <h1> Tweets table </h1>
    <table class="table">
      <thead>
        <tr>
          {% for c in C2%}
          <th> {{c}}</th>
          {% endfor %}
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for d in data2%}
        <tr>
          {%for dd in d%}
          <td>{{dd}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>






{% endblock %}