{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">


<div class="btn-toolbar">
    <button onclick="Exporter()"class="btn" >Import Json</button>

    <button onclick="coperUrl()" class="btn" >Copy url</button>
</div>

<div class="well">
    <h1>Graphs</h1>
    {% for img in images%}
    <br><br><strong>{{img.title}}</strong>
    <img src="{{img.url}}" alt="Italian Trulli">
    {% endfor %}
</div>


<div class="well">
    <h1> Users table </h1>

    <table class="table">
      <thead>
        <tr>
          {% for c in C1%}
          <th> {{c}}</th>
          {% endfor %}
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for d in data1%}
        <tr>
          {%for dd in d%}
          <td>{{dd}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
<div class="well">
    <h1> Tweets table </h1>
    <table class="table">
      <thead>
        <tr>
          {% for c in C2%}
          <th> {{c}}</th>
          {% endfor %}
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for d in data2%}
        <tr>
          {%for dd in d%}
          <td>{{dd}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>






<script type="text/javascript">
    var data={{ JSON|safe }};
    function getjson(){
      return JSON.stringify(data);
    }
    function getdata(){
      return data;
    }
</script>


 <script type="text/javascript">
      function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    };

    function Exporter(){
      download('{{id}}.json',getjson());
    }

  </script>




<script type="text/javascript">
  function coperUrl() {
  const el = document.createElement('textarea');
  el.value = "https://dextraction.herokuapp.com/graph/{{id}}";
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
  // alert("url copied successfully");
}
</script>


{% endblock %}