{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="note">
    <p>Data Scrapping</p>
</div>

<div class="form-content">
    <div class="row">
        <div class="col-md-8">
        
         <div class="form-group">

        <a href="/twitter"><button  type="button" class="btn btn-primary btn-lg btn-block">Twitter</button></a>
               
            </div>
      

        <a href="/youtube"><button type="button" class="btn btn-primary btn-lg btn-block" >Youtube</button>
</a><br>
     <!--    <a href="/linkedin" ><button type="button" class="btn btn-primary btn-lg btn-block" disabled>Linkedin</button></a> -->

     
    </div>
  
</div>
</div>

{% endblock %}


