{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="note">
    <p>Data Scrapping</p>
</div>

<div class="form-content">
    <div class="row">
        <div class="col-md-8">
        
         <div class="form-group">


         			<div class="col-xs-4">
        				<a href="/twitter">
        				<img src="/static/twitter.png">
        				<!-- 	<button  type="button" class="btn btn-primary btn-radio">Twitter</button></a>
        				 -->
        			</div><br>
        			<div class="col-xs-4">
        				  <a href="/youtube">
        				<img src="/static/youtube.png" class="img-responsive img-radio">
        			<!-- 	  	<button type="button" class="btn btn-primary btn-radio" >Youtube</button> -->
		</a>
        			</div>
        <!-- <a href="/twitter"><button  type="button" class="btn btn-primary btn-lg btn-block">Twitter</button></a> -->
               
            
      

      <!--   <a href="/youtube"><button type="button" class="btn btn-primary btn-lg btn-block" >Youtube</button>
		</a> -->

     <!--    <a href="/linkedin" ><button type="button" class="btn btn-primary btn-lg btn-block" disabled>Linkedin</button></a> -->

     
    </div>
  
</div>
</div>

{% endblock %}


