<title>Data Scrapping</title>


<link rel="stylesheet" media="screen" href="/static/style.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body >

<canvas id="canvas"></canvas>


<br><br>
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Data Scrapping</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-8">
                         

                         <div class="form-group">

                        <a href="/twitter"><button  type="button" class="btn btn-primary btn-lg btn-block">Twitter</button></a>
                               
                            </div>
                      

                        <a href="/youtube"><button type="button" class="btn btn-primary btn-lg btn-block" >Youtube</button>
</a><br>
                        <a href="/linkedin" ><button type="button" class="btn btn-primary btn-lg btn-block" disabled>Linkedin</button></a>

                     
                    </div>
                  
                </div>
            </div>
        </div>


<script src="/static/bg.js"></script>