{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="note">
            <p>Twitter Scrapping</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-8">
                 

                 <div class="form-group">

                <button onclick="ok()" type="button" class="btn btn-primary btn-lg btn-block">Extraire des tweets</button>
                       
                    </div>
                <div class="form-group">
                   
                    <a href="/twitter/form1"> <button  type="button" class="btn btn-outline-secondary ensias">Texte</button>
                    </a>
                    <a href="/twitter/form2"> 
                    <button type="button" class="btn btn-outline-primary ensias" >Photo</button></a>
                    <a href="/twitter/form3"><button type="button" class="btn btn-outline-success ensias" >  Video </button></a>

                    <br class="ensias">
                </div>

                <a href="/twitter/f1"><button type="button" class="btn btn-primary btn-lg btn-block" >Extraire les commentaires d'un tweets</button>
</a><br>
                <a href="/twitter/f2"><button type="button" class="btn btn-primary btn-lg btn-block" >Extraire le tweet le plus liké</button></a>
<br>
                <a href="/twitter/f3"><button type="button" class="btn btn-primary btn-lg btn-block" >Extraire le commentaire le plus liké d'un tweet</button></a>
                </div>
             


            </div>
            <br>
            <a href="/twitter/standard-operators" class="btn btn-xs btn-warning">Standard search operators</a>
            <a href="https://github.com/aaiit/Data-Extraction" class="github" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(".ensias").hide();
    var on=1;
    function ok() {
        if(on){
        $(".ensias").show();
        }else{
            $(".ensias").hide();
        }
        on=1-on;
    }
</script>


{% endblock %}