
<title>search videos</title>
<link rel="stylesheet" media="screen" href="/static/style.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="f0-bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body><canvas id="canvas"></canvas><br><br>
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>search comments</p>
                </div>

                <div class="form-content">
              
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="vid" type="text" class="form-control" placeholder="Video id" value=""/>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="len" type="text" class="form-control" placeholder="Count" value=""  />
                            </div>
                            <div class="form-group">
                                <input id="kwrd"type="text" class="form-control" placeholder="keywords" value=""  />
                            </div>
                        
                           
            <div id="f0-wrapper1" onclick="wrapper()">
              <label for="yes_no_radio">Format</label>
              <p>
              <input type="radio" name="yes_no" id="f0-ah" checked>Yes</input>
              </p>
              <p>
              <input type="radio" name="yes_no" id="f0-la">No</input>
              </p>
              </div>


                  <label>Order by</label>
             <FORM id="ob">
              <SELECT name="nom" size="1">
              <OPTION>relevance</OPTION>
              <OPTION>time</OPTION>
             <!--  <OPTION>relevance</OPTION>
              <OPTION>viewCount</OPTION> -->
              </SELECT>
              </FORM>

                        </div>




    <br>


                        <button id="f0-csv" type="button" class="btnSubmit" onclick="ook('csv')" >Download Csv</button>
                        <button id="f0-json" type="button" class="btnSubmit" onclick="ook('json')">Download Json</button>
   
                    </div>
                </div>
            </div>
          </div></div></div></div>
        </div></div>
</body>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
     function get_cookie(c_name){
          if (document.cookie.length > 0)
          {
              c_start = document.cookie.indexOf(c_name + "=");
              if (c_start != -1)
              {
                  c_start = c_start + c_name.length + 1;
                  c_end = document.cookie.indexOf(";", c_start);
                  if (c_end == -1) c_end = document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end));
              }
          }
          return "";
      }

        
       
</script>

<script >

    function ook(type){
      $("#f0-"+type).text("wait...");
      var vid=document.getElementById("vid").value;
      var kwrd=document.getElementById("kwrd").value;
      var len=Number(document.getElementById("len").value);
      var sort=$("#ob").serializeArray()[0].value;

      var fields = {'sort':sort,'count':len,'format':getformat(),'video_id':vid,'keywords':kwrd,'type':type};

        $.ajaxSetup({
              headers: { "X-CSRFToken": get_cookie('csrftoken') }});
        $.ajax({
            url: '',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(fields),
            dataType: 'text',
            success: function(result) {
                Exporter(result,"data."+type);
                $("#f0-"+type).text(type);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
             alert("some error");
              }
        });

    }
</script>


</body>

 <script type="text/javascript">
      function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    };
    function Exporter(r,name) {
      download(name,r);
    }
  </script>




  <script type="text/javascript">
  
      var f=1;

      $("#f0-wrapper1").change(function ()
      {
         if(document.getElementById("f0-ah").checked){
            f=1;
         }else{
            f=0;
         }
            // alert(f);
      }
      )

      function getformat(){return f;}



  </script>


<script src="/static/bg.js"></script>